<div class="container">
    <h2>Edit User Information</h2>
    <form method="POST" action="/auth?_method=PUT">
        <div class="form-group">
            <label for="email">email address:</label>
            <input type="hidden" id="email" name="email" value="<%= user.email %>">
            <p><%= user.email %></p>
        </div>
        <div class="form-group">
            <label for="name">name:</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input class="form-control" type="password" id="oldPassword" name="password" required>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Update Account">
    </form>
    <hr />
    <form method="POST" action="/auth?_method=DELETE">
        <input class="btn btn-primary" type="submit" value="Delete Account">
    </form>