<div class="container">
    <h2>Edit User Information</h2>
    <form method="POST" action="<%= `/auth/${thisSession.passport.user}?_method=PUT` %>">
        <div class="form-group">
            <label for="email">email address:</label>
            <input class="form-control" type="email" id="email" name="email">
        </div>
        <div class="form-gropu">
            <label for="name">name:</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input class="form-control" type="password" id="oldPassword" name="oldPassword">
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
<%= JSON.stringify(thisSession) %>