<h2>Update Dues Amounts</h2>
<form method="POST" action="/dues">
    <div class="form-group">
        <label for="smallDues">small units:</label>
        <input type="text" name="smallDues">
    </div>
    <div class="form-group">
        <label for="mediumDues">medium units:</label>
        <input type="text" name="mediumDues">
        
    </div>
    <div class="form-group">
        <label for="largeDues">large units:</label>
        <input type="text" name="largeDues">
    </div>
    <div class="form-group">
        <label for="dateEffective">effective date:</label>
        <input type="text" name="effectiveDate">
    </div>
    <input type="submit" value="Submit">
</form>