<h2>Update Dues Amounts</h2>
<form method="POST" action="/dues">
    <div class="form-group">
        <label for="smallDues">small units:</label>
        <input class="form-control" type="number" name="smallDues" required>
    </div>
    <div class="form-group">
        <label for="mediumDues">medium units:</label>
        <input class="form-control" type="number" name="mediumDues" required>
    </div>
    <div class="form-group">
        <label for="largeDues">large units:</label>
        <input class="form-control" type="number" name="largeDues" required>
    </div>
    <div class="form-group">
        <label for="dateEffective">effective date:</label>
        <input class="form-control" type="date" name="effectiveDate" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>