.sidebar, .btn{
    background-color: #999999;
    color: black;
}
.shareholderRow:hover, .btn:hover{
    color: #999999;
    background-color: black;
    box-shadow: 0 0 5px blue;
}
.delete {
    display: inline-block;
}