body {
    font-family: 'Questrial', sans-serif;
}

.sidebar, .btn{
    background-color: #999999;
    color: black;
}
.shareholderRow:hover, .btn:hover{
    color: #BBBBBB;
    background-color: black;
    box-shadow: 0 0 5px blue;
}
.delete {
    display: inline-block;
}

img {
    width: 100%;
}
h1, nav {
    text-align: center;
}

nav {
    margin-bottom: 10px;
}

.btn-secondary {
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.flash {
    text-align: center;
    color: white
}

.flash_error {
    background-color: red;
}

.flash_message {
    background-color: blue;
}

.red {
    color: #992200;
}

.blue {
    color: #004477;
}